body{

background:#0f172a;

color:white;

}

a{

color:white;

text-decoration:none;

}

input{

background:#1e293b;

color:white;

border:1px solid #334155;

}

button{

outline:none;

}